<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap 的 CSS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
          integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP"
          crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
            integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+"
            crossorigin="anonymous"></script>
    <script lang="javascript">
        function redirect(url) {
            window.location = url;
        }
    </script>
    <style>
        .primary {
            padding: 3rem 1.5rem;
        }

        .align-items-center {
            -ms-flex-align: center !important;
            align-items: center !important;
        }
    </style>
    <title>{{- /*gotype: github.com/blackjack200/mjjmusic/track.InternalRecord*/ -}}
        {{.Manifest.Name}}</title>
</head>

<body class="mdui-drawer-body-left mdui-theme-layout-auto mdui-theme-primary-indigo">

<div class="mdui-drawer" id="drawer">
    <ul class="mdui-list">
        <li class="mdui-subheader">MJJMusic</li>
        <li class="mdui-list-item mdui-ripple" onclick="redirect('/')">
            <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
            <div class="mdui-list-item-content">Home</div>
        </li>
        <li class="mdui-list-item mdui-ripple" onclick="redirect('/list')">
            <i class="mdui-list-item-icon mdui-icon material-icons">list</i>
            <div class="mdui-list-item-content">List</div>
        </li>
        <li class="mdui-list-item mdui-ripple" onclick="redirect('/about')">
            <i class="mdui-list-item-icon mdui-icon material-icons">info_outline</i>
            <div class="mdui-list-item-content">About</div>
        </li>
    </ul>
</div>

<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-theme">
        <a class="mdui-btn mdui-btn-icon mdui-ripple">
            <i class="mdui-icon material-icons" id="drawer-btn">menu</i>
        </a>
        <a href="/" class="mdui-typo-headline">MJJMusic</a>
    </div>
</div>

<main role="main" class="mdui-container primary">
    <div class="mdui-container align-items-center">
        <div class="mdui-container h-100">
            <div class="mdui-card">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">{{.Manifest.Name}}</div>
                    <div class="mdui-card-primary-subtitle">Year: {{.Manifest.Year}}</div>
                </div>

                <div class="mdui-card-content">
                    <div class="mdui-row">
                        <table class="mdui-table">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Description</td>
                                <td>{{.Manifest.Desc}}</td>
                            </tr>
                            <tr>
                                <td>Year</td>
                                <td>{{.Manifest.Year}}</td>
                            </tr>
                            <tr>
                                <td>FileName</td>
                                <td>{{.FileName}}</td>
                            </tr>
                            <tr>
                                <td>FileSize</td>
                                <td>{{.FileSize}}</td>
                            </tr>
                            <tr>
                                <td>FileInfo</td>
                                <td>{{.FileInfo}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <audio
                                controls
                                src="../direct_play/{{.InternalIndex}}">
                            Your browser does not support the
                            <code>audio</code> element.
                        </audio>
                        <button class="mdui-btn mdui-btn-block mdui-color-green"
                                onclick="document.location='/download/{{.InternalIndex}}'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                            Download
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>

</body>

<script src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
        integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+"
        crossorigin="anonymous"></script>
<script lang="javascript">
    const inst = new mdui.Drawer('#drawer');
    $("#drawer-btn").on("click", function () {
        inst.toggle();
    });
</script>

</html>