<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap 的 CSS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.redirect@1.1.4/jquery.redirect.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
          integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP"
          crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
            integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+"
            crossorigin="anonymous"></script>
    <script lang="javascript">
        async function sha256(message) {
            const msgBuffer = new TextEncoder().encode(message);
            const hashBuffer = await crypto.subtle.digest('SHA-256', msgBuffer);
            const hashArray = Array.from(new Uint8Array(hashBuffer));
            return hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
        }

        function redirect(url) {
            window.location = url;
        }

        function tokenValid(onSuccess, onFailed) {
            $.ajax({
                url: '/auth/test',
                type: 'POST',
                data: {
                    token: $.cookie('token')
                },
                success: function (data) {
                    if (data.status) {
                        onSuccess();
                    } else {
                        $.cookie('token', null);
                        onFailed();
                    }
                }
            });
        }

        function gcImpl(onSuccess, onFailed) {
            $.ajax({
                url: '/manipulate/gc',
                type: 'POST',
                data: {
                    token: $.cookie('token')
                },
                success: function (data) {
                    if (data.status === "ok") {
                        onSuccess();
                    } else {
                        $.cookie('token', null);
                        onFailed(data.status);
                    }
                }
            });
        }

        function memInfoImpl(onSuccess, onFailed) {
            $.ajax({
                url: '/manipulate/mem',
                type: 'POST',
                data: {
                    token: $.cookie('token')
                },
                success: function (data) {
                    if (data.status === "ok") {
                        onSuccess(data.info);
                    } else {
                        $.cookie('token', null);
                        onFailed(data.status);
                    }
                }
            });
        }

        function gc() {
            gcImpl(function () {
                mdui.snackbar({
                    message: 'GC Success',
                    position: 'top'
                });
                memoryInfo()
            }, function (reason) {
                mdui.snackbar({
                    message: 'GC Failed: ' + reason,
                    position: 'top'
                });
            })
        }

        function memoryInfo() {
            $('#memory-info-table')
                .html('')
                .append('<div class="mdui-progress"><div class="mdui-progress-indeterminate"></div></div>');
            memInfoImpl(function (data) {
                $('#memory-info-table').html('');
                Object.entries(data).forEach(function (item) {
                    $('#memory-info-table')
                        .append('<tr><td>' + item[0] + '</td><td>' + item[1] + '</td></tr>');
                });
            }, function (reason) {
                $('#memory-info-table')
                    .append('<tr><td>' + reason + '</td></tr>');
            })
        }
    </script>
    <style>
        .primary {
            padding: 3rem 1.5rem;
        }

        .align-items-center {
            -ms-flex-align: center !important;
            align-items: center !important;
        }
    </style>
    <title>MJJMusic Admin</title>
</head>

<body class="mdui-drawer-body-left mdui-theme-layout-auto mdui-theme-primary-indigo">

<div class="mdui-drawer" id="drawer">
    <ul class="mdui-list">
        <li class="mdui-subheader">MJJMusic</li>
        <li class="mdui-list-item mdui-ripple" onclick="redirect('/')">
            <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
            <div class="mdui-list-item-content">Home</div>
        </li>
        <li class="mdui-list-item mdui-ripple" onclick="redirect('/list')">
            <i class="mdui-list-item-icon mdui-icon material-icons">list</i>
            <div class="mdui-list-item-content">List</div>
        </li>
        <li class="mdui-list-item mdui-ripple" onclick="redirect('/about')">
            <i class="mdui-list-item-icon mdui-icon material-icons">info_outline</i>
            <div class="mdui-list-item-content">About</div>
        </li>
    </ul>
</div>

<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-theme">
        <a class="mdui-btn mdui-btn-icon mdui-ripple">
            <i class="mdui-icon material-icons" id="drawer-btn">menu</i>
        </a>
        <a href="/" class="mdui-typo-headline">MJJMusic</a>
    </div>
</div>

<main role="main" class="mdui-container primary">
    <div class="mdui-container align-items-center">
        <div class="mdui-container">
            <div class="mdui-card">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">Panel</div>
                </div>
                <div class="mdui-card-content">

                    <div class="mdui-container">
                        <div class="mdui-row">
                            <table class="mdui-table" id="memory-info-table">
                            </table>

                            <button class="mdui-btn mdui-btn-block mdui-color-green"
                                    onclick="gc()">
                                GC
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

</body>

<script src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
        integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+"
        crossorigin="anonymous"></script>
<script lang="javascript">
    const inst = new mdui.Drawer('#drawer');
    $("#drawer-btn").on("click", function () {
        inst.open();
    });
    memoryInfo()
</script>

</html>
</html>